<!DOCTYPE html>
<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../static/"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <title>Sale-Performance</title>
    <meta name="description" content="" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar/boxicons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar/core.css') }}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar/theme-default.css') }}" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar/demo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar/perfect-scrollbar.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&display=swap" rel="stylesheet"> <!-- ตัวหนังสือ -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" /> <!-- ICON GOOGLE -->
    <link href="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet"/>
    <script src="{{ url_for('static', filename='js/sidebar/helpers.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sidebar/config.js') }}"></script>
    <style>
      .content {
        overflow-y: auto;
      }

      .app-brand-text1 {
        font-size: clamp(16px, 2vw, 24px);
      }
    </style>
  </head>

  <body style="font-family: 'Anuphan', sans-serif; color: #4e5257">
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">

        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
            <div class="app-brand demo">
              <a href="{{ url_for('welcome' if session['user_level'] == 3 else 'welcome') }}" class="app-brand-link">
                <span class="app-brand-logo demo">
                  <img src="{{ url_for('static', filename='img/favicon.png') }}" alt="Logo" width="60">
                </span>
                <span class="app-brand-text demo menu-text fw-bolder ms-2">SALE-PERFORMANCE</span>
              </a>
              <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                <i class="bx bx-chevron-left bx-sm align-middle"></i>
              </a>
            </div>
    
            <div class="menu-inner-shadow"></div>
    
            <ul class="menu-inner py-1">
              <li class="menu-item">
                <a href='/welcome' class="menu-link">
                  <i class="menu-icon tf-icons bx bx-home-circle"></i>
                  <div data-i18n="Analytics">Dashboard</div>
                </a>
              </li>
              <li class="menu-item">
                <a href='/dashboard' class="menu-link">
                  <span class="material-symbols-outlined menu-icon">frame_person</span>
                  <div data-i18n="Analytics">Performance</div>
                </a>
              </li>
              <li class="menu-item">
                <a href='/overview_user' class="menu-link">
                  <span class="material-symbols-outlined menu-icon">history</span>
                  <div data-i18n="Analytics">Overview</div>
                </a>
              </li>
              <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <span class="material-symbols-outlined menu-icon">filter_alt</span>
                  <div data-i18n="Account Settings">Top Sale</div>
                </a>
                <ul class="menu-sub">
                  <li class="menu-item">
                    <a href='/top_cust' class="menu-link">
                      <div data-i18n="Notifications">Top Customer</div>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href='/top_mat' class="menu-link">
                      <div data-i18n="Notifications">Top Product</div>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="menu-header small text-uppercase">
                <span class="menu-header-text">Main</span>
              </li>
              <li class="menu-item">
                <a href='/cust_ms' class="menu-link">
                  <span class="material-symbols-outlined menu-icon">groups</span>
                  <div data-i18n="Analytics">Customer Master</div>
                </a>
              </li>
              <li class="menu-item">
                <a href='/stock' class="menu-link">
                  <span class="material-symbols-outlined menu-icon">inventory_2</span>
                  <div data-i18n="Analytics">Stock On-Hand</div>
                </a>
              </li>
              <li class="menu-header small text-uppercase">
                <span class="menu-header-text">Report</span>
              </li>
              <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <span class="material-symbols-outlined menu-icon">query_stats</span>
                  <div data-i18n="Account Settings">Tracking</div>
                </a>
                <ul class="menu-sub">
                  {% if session.get('user_level') == 1 %}
                  <li class="menu-item">
                    <a href='/total_cust' class="menu-link">
                      <div data-i18n="Account">Lost & New Customer</div>
                    </a>
                  </li>
                  {% endif %}  
                  <li class="menu-item">
                    <a href='/lost' class="menu-link">
                      <div data-i18n="Account">Lost Customer</div>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href='/trackcus' class="menu-link">
                      <div data-i18n="Notifications">Customer Tracking</div>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href='/trackinvo' class="menu-link">
                      <div data-i18n="Notifications">Invoice Tracking</div>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href='/dailyinvo' class="menu-link">
                      <div data-i18n="Notifications">Summary Report</div>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <span class="material-symbols-outlined menu-icon">table</span>
                  <div data-i18n="Account Settings">Pivot</div>
                </a>
                <ul class="menu-sub">
                  <li class="menu-item">
                    <a href='/summary_cus' class="menu-link">
                      <div data-i18n="Notifications">Sum Of Customer</div>
                    </a>
                  </li>
                </ul>
                <ul class="menu-sub">
                  <li class="menu-item">
                    <a href='/summary_ty' class="menu-link">
                      <div data-i18n="Notifications">Sum Of Custtype</div>
                    </a>
                  </li>
                </ul>
                <ul class="menu-sub">
                  <li class="menu-item">
                    <a href='/summary_it' class="menu-link">
                      <div data-i18n="Notifications">Sum Of Item</div>
                    </a>
                  </li>
                </ul>
                <ul class="menu-sub">
                  <li class="menu-item">
                    <a href='/histiry_pi' class="menu-link">
                      <div data-i18n="Notifications">History Price</div>
                    </a>
                  </li>
                </ul>
                <ul class="menu-sub">
                  <li class="menu-item">
                    <a href='/summary_sa' class="menu-link">
                      <div data-i18n="Notifications">Sum Of Salesman</div>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="menu-header small text-uppercase">
                <span class="menu-header-text">Compare</span>
              </li>
              <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <span class="material-symbols-outlined menu-icon">compare_arrows</span>
                  <div data-i18n="Account Settings">Stock Compare</div>
                </a>
                <ul class="menu-sub">
                  <li class="menu-item">
                    <a href='/by_product' class="menu-link">
                      <div data-i18n="Notifications">Compare By Product</div>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="menu-header small text-uppercase">
                <span class="menu-header-text">Export</span>
              </li>
              <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <span class="material-symbols-outlined menu-icon">communication</span>
                  <div data-i18n="Account Settings">One-On-One</div>
                </a>
                <ul class="menu-sub">
                  <li class="menu-item">
                    <a href='/sales_oneonone' class="menu-link">
                      <div data-i18n="Notifications">Sales</div>
                    </a>
                  </li>
                </ul>
                <ul class="menu-sub">
                  <li class="menu-item">
                    <a href='/branch_oneonone' class="menu-link">
                      <div data-i18n="Notifications">Branch</div>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <span class="material-symbols-outlined menu-icon">person_alert</span>
                  <div data-i18n="Account Settings">Target&Actual</div>
                </a>
                <ul class="menu-sub">
                  <li class="menu-item">
                    <a href='/target_actual' class="menu-link">
                      <div data-i18n="Notifications">Sales report</div>
                    </a>
                  </li>
                </ul>
                <ul class="menu-sub">
                  <li class="menu-item">
                    <a href='/list_status' class="menu-link">
                      <div data-i18n="Notifications">List Status</div>
                    </a>
                  </li>
                </ul>
              </li>
              {% if '2' in user_moduals.split(',') %}
              <li class="menu-header small text-uppercase">
                <span class="menu-header-text">System</span>
              </li>
              <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <span class="material-symbols-outlined menu-icon">personal_places</span>
                  <div data-i18n="Account Settings">Target</div>
                </a>
                <ul class="menu-sub">
                  <li class="menu-item">
                    <a href='/system' class="menu-link">
                      <div data-i18n="Notifications">Sales Agent</div>
                    </a>
                  </li>
                </ul>
                <ul class="menu-sub">
                  <li class="menu-item">
                    <a href='/add_target' class="menu-link">
                      <div data-i18n="Notifications">Add Target</div>
                    </a>
                  </li>
                </ul>
              </li>
              {% endif %}
            </ul>
          </aside>

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

        <nav
          class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
          id="layout-navbar"
        >
          <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
            <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
              <i class="bx bx-menu bx-sm"></i>
            </a>
          </div>

          <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
            <div class="navbar-nav align-items-center">
              <div class="nav-item d-flex align-items-center">
                <small class="text-muted">Date Time : {{current_time}}</small>
              </div>
            </div>

            <ul class="navbar-nav flex-row align-items-center ms-auto">
              <li class="nav-item navbar-dropdown dropdown-user dropdown">
                <a style="cursor: default;" class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                  <div class="avatar avatar-online" style="cursor: default;">
                    <img src="{{ photo_url }}" alt="Logo" class="w-px-40 h-auto rounded-circle">
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <div class="content-wrapper">
            <div class="container-xxl flex-grow-1 container-p-y">
                <div class="d-flex flex-column flex-sm-row align-items-center justify-content-sm-between mb-6 text-center text-sm-start gap-2">
                    <div class="mb-2 mb-sm-0">
                      <h4 class="mb-3">Customer ID {{ cusms_info.custno }}</h4>
                    </div>
                </div>
                <div class="row">
                  <div class="col-xl-4 col-lg-7 col-md-7 order-0 order-md-1">
                    <div class="card mb-6">
                      <div class="card-body pt-12">
                        <div class="customer-avatar-section">
                          <div class="d-flex align-items-center flex-column">
                            <img class="img-fluid rounded mb-4" src="{{ url_for('static', filename='img/shop.png') }}" height="120" width="120" alt="User avatar">
                            <div class="customer-info text-center mb-6">
                              <h5 class="mb-0">{{ cusms_info.custname_eng }}</h5>
                              <span>Customer ID {{ cusms_info.custno }}</span>
                            </div>
                          </div>
                        </div>
                        <div class="d-flex justify-content-around flex-wrap mb-6 gap-0 gap-md-3 gap-lg-4 mt-4 mb-4">
                          <div class="d-flex align-items-center gap-4 me-5">
                              <div>
                                  <h5 class="mb-0">Company</h5>
                                  <span>{{ cusms_info.custname }}</span>
                              </div>
                          </div>
                        </div>
                      
                        <div class="info-container">
                          <h5 class="pb-4 border-bottom text-capitalize mt-6 mb-4">Details</h5>
                          <ul class="list-unstyled h-100">
                            <li class="mb-2">
                              <span class="h6 me-1">Email:</span>
                              <span>{{ cusms_info.email if cusms_info.email else '-' }}</span>
                            </li>
                            <li class="mb-2">
                              <span class="h6 me-1">Tel:</span>
                              <span>{{ cusms_info.tel }}</span>
                            </li>
                            <li class="mb-2">
                              <span class="h6 me-1">Fax:</span>
                              <span>{{ cusms_info.fax if cusms_info.fax else '-' }}</span>
                            </li>
                            <li class="mb-2">
                              <span class="h6 me-1">Tax ID:</span>
                              <span>{{ cusms_info.taxid if cusms_info.taxid else '-' }}</span>
                            </li>
                            <li class="mb-2">
                              <span class="h6 me-1">Shop Type:</span>
                              <span>{{ cusms_info.shop_type }}</span>
                            </li>
                            <li class="mb-2">
                              <span class="h6 me-1">Description:</span>
                              <span>{{ cusms_info.custdesc }}</span>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-5 col-md-5 order-1 order-md-0">
                    <div class="row text-nowrap">
                       <div class="col-md-6 mb-4">
                        <div class="card h-100">
                          <div class="card-body">
                            <div class="card-icon mb-2">
                              <div class="avatar">
                                <div class="avatar-initial rounded bg-label-primary"><span class="material-symbols-outlined">home</span></div>
                              </div>
                            </div>
                            <div class="card-info">
                              <h5 class="card-title mb-2">ADDRESS</h5>
                              <div class="d-flex align-items-baseline gap-1">
                              </div>
                              <p class="mb-0" style="max-width: 350px; word-break: break-word; white-space: normal;">
                                {{ cusms_info.address }}
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 mb-4">
                        <div class="card h-100">
                          <div class="card-body">
                            <div class="card-icon mb-2">
                              <div class="avatar">
                                <div class="avatar-initial rounded bg-label-success"><span class="material-symbols-outlined">connect_without_contact</span></div>
                              </div>
                            </div>
                            <div class="card-info">
                              <h5 class="card-title mb-2">Contact Person</h5>
                            </div>
                            <p class="mb-0" style="max-width: 350px; word-break: break-word; white-space: normal;">
                              {{ cusms_info.contpers if cusms_info.contpers else '-' }}
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 mb-4">
                        <div class="card h-100">
                          <div class="card-body">
                            <div class="card-icon mb-2">
                              <div class="avatar">
                                <div class="avatar-initial rounded bg-label-warning"><i class="icon-base bx bx-star icon-lg"></i></div>
                              </div>
                            </div>
                            <div class="card-info">
                              <h5 class="card-title mb-2">Seller</h5>
                              <div class="d-flex align-items-baseline gap-1"></div>
                              <p class="mb-0" style="max-width: 350px; word-break: break-word; white-space: normal;">
                                Sales1 : {{ cusms_info.smdoce }} {{ cusms_info.name }}
                              </p>
                              <p class="mb-0" style="max-width: 350px; word-break: break-word; white-space: normal;">
                                Sales2 : {{ cusms_info.smname2 if cusms_info.smname2 else '-' }}
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 mb-4">
                        <div class="card h-100">
                          <div class="card-body">
                            <div class="card-icon mb-2">
                              <div class="avatar">
                                <div class="avatar-initial rounded bg-label-info"><span class="material-symbols-outlined">description</span></div>
                              </div>
                            </div>
                            <div class="card-info">
                              <h5 class="card-title mb-2">Note</h5>
                              <div class="d-flex align-items-baseline gap-1">
                              </div>
                              <p class="mb-0" style="max-width: 350px; word-break: break-word; white-space: normal;">
                                {{ cusms_info.note if cusms_info.note else '-' }}
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12 mb-4">
                        <div class="card h-100">
                          <div class="card-body">
                            <div class="card-icon mb-2">
                              <div class="avatar">
                                <div class="avatar-initial rounded bg-label-info"><span class="material-symbols-outlined">delivery_truck_speed</span></div>
                              </div>
                            </div>
                            <div class="card-info">
                              <h5 class="card-title mb-2">Table</h5>
                              <div class="d-flex align-items-baseline gap-1">
                              </div>
                              <div class="content">
                                <table class="table" style="color: #4e5257">
                                  <thead>
                                    <tr>
                                      <th>No</th>
                                      <th>Ship Address</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    {% for row in ship_data %}
                                    <tr>
                                      <td>{{ row[0] }}</td>
                                      <td>{{ row[1] }}</td>
                                    </tr>
                                    {% endfor %}
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>

            <footer class="content-footer footer bg-footer-theme">
                <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                  <div class="mb-2 mb-md-0">
                    ©
                    <script>
                      document.write(new Date().getFullYear());
                    </script>
                    , Develop by Information Technology Department
                    <a href="https://www.aepthailand.com/" target="_blank" class="footer-link fw-bolder">American-European Products Co.,Ltd</a>
                  </div>
                </div>
            </footer>

            <div class="content-backdrop fade"></div>
          </div>
        </div>
      </div>
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>

    <script src="{{ url_for('static', filename='js/table.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sidebar/popper.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sidebar/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sidebar/perfect-scrollbar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sidebar/menu.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sidebar/main.js') }}"></script>
  </body>
</html>
