<!DOCTYPE html>
<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../static/"
  data-template="vertical-menu-template-free"
>
<head>
    <meta charset="UTF-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
    <title>Sale-Performance</title>
    <meta name="description" content="" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar/boxicons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar/core.css') }}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar/theme-default.css') }}" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar/perfect-scrollbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar/demo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/customer_tracking.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/js/select2.min.js"></script>
    <script src="{{ url_for('static', filename='js/sidebar/helpers.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sidebar/config.js') }}"></script>
    <style>
      .icon-btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #697a8d;
        font-size: 20px;
        cursor: pointer;
        transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
        text-decoration: none;
      }     
      .icon-btn:hover {
        color: rgb(128, 25, 25);
        transform: scale(1.05);
      }

      .content {
        overflow-y: auto;
      }

      th, td {
        font-size: 13px;
        font-family: 'Anuphan', sans-serif;
      }
    </style>
</head>

  <body>
    <div id="myModal" class="modal">
      <div class="modal-content content">
        <div class="modal-body">
          <span class="close">&times;</span>
          <p>Matno: <span id="matno"></span></p>
          <p>Month: <span id="month"></span></p>
            <div id="modal-price"></div>
            <div id="modal-uom"></div>
            <div id="modal-last-purchase"></div>
        </div>
      </div>
    </div>     
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
            <div class="app-brand demo">
              <a href="{{ url_for('welcome' if session['user_level'] == 3 else 'welcome') }}" class="app-brand-link">
                <span class="app-brand-logo demo">
                  <img src="{{ url_for('static', filename='img/favicon.png') }}" alt="Logo" width="60">
                </span>
                <span class="app-brand-text demo menu-text fw-bolder ms-2">SALE-PERFORMANCE</span>
              </a>
              <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                <i class="bx bx-chevron-left bx-sm align-middle"></i>
              </a>
            </div>
    
            <div class="menu-inner-shadow"></div>
    
            <ul class="menu-inner py-1">
              <li class="menu-item">
                <a href="{{ url_for('welcome' if session['user_level'] == 3 else 'welcome') }}" class="menu-link">
                  <i class="menu-icon tf-icons bx bx-home-circle"></i>
                  <div data-i18n="Analytics">Dashboard</div>
                </a>
              </li>
              <li class="menu-item">
                <a href="{{ url_for('dashboard_user' if session['user_level'] == 3 else 'dashboard_power') }}" class="menu-link">
                  <span class="material-symbols-outlined menu-icon">frame_person</span>
                  <div data-i18n="Analytics">Performance</div>
                </a>
              </li>
              <li class="menu-item">
                <a href='/overview_user' class="menu-link">
                  <span class="material-symbols-outlined menu-icon">history</span>
                  <div data-i18n="Analytics">Overview</div>
                </a>
              </li>
              <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <span class="material-symbols-outlined menu-icon">filter_alt</span>
                  <div data-i18n="Account Settings">Top Sale</div>
                </a>
                <ul class="menu-sub">
                  <li class="menu-item">
                    <a href='/top_cust' class="menu-link">
                      <div data-i18n="Notifications">Top Customer</div>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href='/top_mat' class="menu-link">
                      <div data-i18n="Notifications">Top Product</div>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="menu-header small text-uppercase">
                <span class="menu-header-text">Main</span>
              </li>
              <li class="menu-item active">
                <a href='/cust_ms' class="menu-link">
                  <span class="material-symbols-outlined menu-icon">groups</span>
                  <div data-i18n="Analytics">Customer Master</div>
                </a>
              </li>
              <li class="menu-item">
                <a href='/stock' class="menu-link">
                  <span class="material-symbols-outlined menu-icon">inventory_2</span>
                  <div data-i18n="Analytics">Stock On-Hand</div>
                </a>
              </li>
              <li class="menu-header small text-uppercase">
                <span class="menu-header-text">Report</span>
              </li>
              <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <span class="material-symbols-outlined menu-icon">query_stats</span>
                  <div data-i18n="Account Settings">Tracking</div>
                </a>
                <ul class="menu-sub">
                  {% if session.get('user_level') == 1 %}
                  <li class="menu-item">
                    <a href='/total_cust' class="menu-link">
                      <div data-i18n="Account">Lost & New Customer</div>
                    </a>
                  </li>
                  {% endif %}  
                  <li class="menu-item">
                    <a href='/lost' class="menu-link">
                      <div data-i18n="Account">Lost Customer</div>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href='/trackcus' class="menu-link">
                      <div data-i18n="Notifications">Customer Tracking</div>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href='/trackinvo' class="menu-link">
                      <div data-i18n="Notifications">Invoice Tracking</div>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href='/dailyinvo' class="menu-link">
                      <div data-i18n="Notifications">Summary Report</div>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <span class="material-symbols-outlined menu-icon">table</span>
                  <div data-i18n="Account Settings">Pivot</div>
                </a>
                <ul class="menu-sub">
                  <li class="menu-item">
                    <a href='/summary_cus' class="menu-link">
                      <div data-i18n="Notifications">Sum Of Customer</div>
                    </a>
                  </li>
                </ul>
                <ul class="menu-sub">
                  <li class="menu-item">
                    <a href='/summary_ty' class="menu-link">
                      <div data-i18n="Notifications">Sum Of Custtype</div>
                    </a>
                  </li>
                </ul>
                <ul class="menu-sub">
                  <li class="menu-item">
                    <a href='/summary_it' class="menu-link">
                      <div data-i18n="Notifications">Sum Of Item</div>
                    </a>
                  </li>
                </ul>
                <ul class="menu-sub">
                  <li class="menu-item">
                    <a href='/histiry_pi' class="menu-link">
                      <div data-i18n="Notifications">History Price</div>
                    </a>
                  </li>
                </ul>
                <ul class="menu-sub">
                  <li class="menu-item">
                    <a href='/summary_sa' class="menu-link">
                      <div data-i18n="Notifications">Sum Of Salesman</div>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="menu-header small text-uppercase">
                <span class="menu-header-text">Compare</span>
              </li>
              <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <span class="material-symbols-outlined menu-icon">compare_arrows</span>
                  <div data-i18n="Account Settings">Stock Compare</div>
                </a>
                <ul class="menu-sub">
                  <li class="menu-item">
                    <a href='/by_product' class="menu-link">
                      <div data-i18n="Notifications">Compare By Product</div>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="menu-header small text-uppercase">
                <span class="menu-header-text">Export</span>
              </li>
              <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <span class="material-symbols-outlined menu-icon">communication</span>
                  <div data-i18n="Account Settings">One-On-One</div>
                </a>
                <ul class="menu-sub">
                  <li class="menu-item">
                    <a href='/sales_oneonone' class="menu-link">
                      <div data-i18n="Notifications">Sales</div>
                    </a>
                  </li>
                </ul>
                <ul class="menu-sub">
                  <li class="menu-item">
                    <a href='/branch_oneonone' class="menu-link">
                      <div data-i18n="Notifications">Branch</div>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <span class="material-symbols-outlined menu-icon">person_alert</span>
                  <div data-i18n="Account Settings">Target&Actual</div>
                </a>
                <ul class="menu-sub">
                  <li class="menu-item">
                    <a href='/target_actual' class="menu-link">
                      <div data-i18n="Notifications">Sales report</div>
                    </a>
                  </li>
                </ul>
                <ul class="menu-sub">
                  <li class="menu-item">
                    <a href='/list_status' class="menu-link">
                      <div data-i18n="Notifications">List Status</div>
                    </a>
                  </li>
                </ul>
              </li>
              {% if '2' in user_moduals.split(',') %}
              <li class="menu-header small text-uppercase">
                <span class="menu-header-text">System</span>
              </li>
              <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <span class="material-symbols-outlined menu-icon">personal_places</span>
                  <div data-i18n="Account Settings">Target</div>
                </a>
                <ul class="menu-sub">
                  <li class="menu-item">
                    <a href='/system' class="menu-link">
                      <div data-i18n="Notifications">Sales Agent</div>
                    </a>
                  </li>
                </ul>
                <ul class="menu-sub">
                  <li class="menu-item">
                    <a href='/add_target' class="menu-link">
                      <div data-i18n="Notifications">Add Target</div>
                    </a>
                  </li>
                </ul>
              </li>
              {% endif %}
            </ul>
        </aside>

        <div class="layout-page">
          <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar"
          >
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
              </a>
            </div>

            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
              <div class="navbar-nav align-items-center">
                <div class="nav-item d-flex align-items-center">
                  <small class="text-muted">Date Time : {{current_time}}</small>
                </div>
              </div>

              <ul class="navbar-nav flex-row align-items-center ms-auto">
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                  <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                      <img src="{{ photo_url }}" alt="Logo" class="w-px-40 h-auto rounded-circle">
                    </div>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="/profile">
                        <div class="d-flex">
                          <div class="flex-shrink-0 me-3">
                            <div class="avatar avatar-online">
                              <img src="{{ photo_url }}" alt="Logo" class="w-px-40 h-auto rounded-circle">
                            </div>
                          </div>
                          <div class="flex-grow-1">
                            <span class="fw-semibold d-block" style="font-family: 'Anuphan', sans-serif;">{{user_name}}</span>
                            <small class="text-muted">
                              {% if user_level == 1 %}
                                Admin
                              {% elif user_level == 2 %}
                                Power User
                              {% elif user_level == 3 %}
                                User
                              {% else %}
                                Unknown
                              {% endif %}
                            </small>                          
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href="/profile">
                        <i class="bx bx-user me-2"></i>
                        <span class="align-middle">My Profile</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">
                        <i class="bx bx-cog me-2"></i>
                        <span class="align-middle">Settings</span>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href='/logout'>
                        <i class="bx bx-power-off me-2"></i>
                        <span class="align-middle">Log Out</span>
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </nav>

          <div class="content-wrapper">
            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="card mb-4">
                <h5 class="card-header">Customer Master</h5>
                <div class="card-body">
                    <div class="row gx-3 gy-2 align-items-center">
                        <form method="POST">
                            <div class="row">
                                {% if not (session.get('user_level') == 1 or session.get('user_level') == 2) %}
                                <div class="col-md-3">
                                  <label class="form-label" for="selectTypeOpt">Seller</label>
                                  <select name="salesman" id="salesman" class="form-select color-dropdown">
                                    {% for i in range(salesman1|length) %}
                                      <option value="{{ salesman1[i] }}" {% if salesman1[i] == selected_sm %}selected{% endif %}>
                                        {{ salesman2[i] }}
                                      </option>
                                    {% endfor %}
                                  </select>
                                </div>
                                {% endif %}                              
                                {% if session.get('user_level') == 1 or session.get('user_level') == 2 %}
                                <div class="col-md-3">
                                  <label class="form-label" for="selectTypeOpt">Seller</label>
                                  <select name="salesman" id="salesman" class="form-select color-dropdown">
                                    <option value="">-- เลือกลูกค้า --</option>
                                    {% for i in range(salesman1|length) %}
                                      <option value="{{ salesman1[i] }}" {% if salesman1[i] == selected_sm %}selected{% endif %}>
                                        {{ salesman2[i] }}
                                      </option>
                                    {% endfor %}
                                  </select>
                                </div>
                                {% endif %}
                                <div class="col-md-3">
                                  <label class="form-label" for="customer">Customer</label>
                                  <select name="customer" id="customer" class="form-select placement-dropdown" required>
                                      <option value="">-- เลือกลูกค้า --</option>
                                      {% for i in range(customers1|length) %}
                                          <option value="{{ customers1[i] }}" {% if customers1[i] == selected_customer %}selected{% endif %}>
                                              {{ customers2[i] }}
                                          </option>
                                      {% endfor %}
                                  </select>
                                </div>
                                <div class="col-md-3">
                                    <label class="form-label" for="showToastPlacement">&nbsp;</label>
                                    <button type="submit" class="btn btn-primary d-block">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
              </div>

              <div class="card mb-4">
                <div class="card-body">
                  <div class="row g-0">
                    {% if request.method == 'POST' %}
                    {% if results %}
                      <div class="content">
                        <table class="table" id="table1">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>VIEW</th>
                                    <th>TYPE</th>
                                    <th>CUSTCOED</th>
                                    <th>CUSTNAME</th>
                                    <th>CUSTNAME(ENG)</th>
                                    <th>NAME</th>
                                    <th>LINE SHIP</th>
                                </tr>
                            </thead>
                            <tbody style="white-space: nowrap; font-size: 12.5px;">
                                {% for row in results %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td class="text-center">
                                      <span onclick="redirectToDetailPage('{{ row[1] }}', '{{ row[10] }}');" class="icon-btn">
                                          <span style="cursor: pointer;" class="material-symbols-outlined">visibility</span>
                                      </span>
                                    </td>  
                                    <td>{{ row[0] }}</td>
                                    <td>{{ row[1] }}</td>
                                    <td>{{ row[2] }}</td>
                                    <td>{{ row[3] }}</td>
                                    <td>{{ row[11] }}</td>
                                    <td>{{ row[12] }}</td>                                                                                          
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>                     
                    </div>
                {% else %}
                    <h2 class="header-subtitle" style="color: red;">
                        <span>
                            *** ไม่มีลูกค้า ***
                        </span>
                    </h2>
                {% endif %}
                {% else %}
                <div class="header-subtitle">โปรดเลือกให้ครบทั้ง 2 ช่อง</div>
                {% endif %}                       
                </div>
              </div>
            </div>
          </div>

            <footer class="content-footer footer bg-footer-theme">
              <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                <div class="mb-2 mb-md-0">
                  ©
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  , Develop by Thanapurt Sopon
                  <a href="https://sales-performance-c3y2.onrender.com" target="_blank" class="footer-link fw-bolder">Sopon-Products Co.,Ltd</a>
                </div>
              </div>
            </footer>
            <div class="content-backdrop fade"></div>
          </div>
        </div>
      </div>
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>

    <script src="{{ url_for('static', filename='js/invoice.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sidebar/popper.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sidebar/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sidebar/perfect-scrollbar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sidebar/menu.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sidebar/main.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('#salesman').select2({
                placeholder: "-- เลือก --",
                width: '100%'
            });
            $('#customer').select2({
              placeholder: "-- เลือก --",
              width: '100%'
          });
        });
    </script>
    <script>
      $(function() {
          $('#reservation').daterangepicker({
              autoUpdateInput: false,
              linkedCalendars: false,
              showDropdowns: true,
              locale: {
                  cancelLabel: 'Clear'
              }
          });
  
          $('#reservation').on('apply.daterangepicker', function(ev, picker) {
              let startDate = picker.startDate;
              let endDate = picker.endDate;
  
              if (!startDate.isValid() || !endDate.isValid()) {
                  startDate = moment();
                  endDate = moment();
              }
  
              if (endDate.isBefore(startDate, 'day')) {
                  endDate = startDate.clone().add(1, 'day');
              }
  
              $(this).val(startDate.format('MM/DD/YYYY') + ' - ' + endDate.format('MM/DD/YYYY'));
          });
  
          $('#reservation').on('cancel.daterangepicker', function(ev, picker) {
              $(this).val('');
          });
      });
    </script>  
    <script>
      function redirectToDetailPage(row1, row10) {
          var encodedRow1 = encodeURIComponent(row1).replace('%2F', '/');
          var encodedRow10 = encodeURIComponent(row10);
          window.open("/cusms_detal/" + encodedRow1 + "+" + encodedRow10, '_blank');
      }
    </script>
    
  </body>
</html>
